# Python Basics

1. ### Write a program to take a number from hte user using a prompt "enter a number:"

In [2]:
number = input("enter a number")

2. ### Print the number taken by the user in the previous question.
<b>Hint:</b> assign your program to a variable in question 1

In [1]:
print(number)

NameError: name 'number' is not defined

3.### Print the square of that number

In [11]:
number :int = int(number)
print(number**2)

25

4. ### Create a string with value "Program" and print 'o' from it.
<b> Hint:</b> reacall indexing

In [4]:
program :str = "Program"
print(program[2])

o

5. ### Print the last 4 characters of the above string.

In [5]:
program[-4:]

'gram'

### 6.Check if the string contains all lowercase letters.

In [6]:
program.isupper()

False

### 7.Print the type of the string

In [7]:
print(type(program))

<class 'str'>

## Data Structures

### 1. Write a program to store the names of your following members of family: john, chan, yuen, matt

In [9]:
list_1 = ['john', 'chan', 'yuen', 'matt']

### 2. Print the list

In [11]:
print(list_1)

['john', 'chan', 'yuen', 'matt']

### 3. Grab the 2nd element of the list and print it. (Remember that the indexing starts from 0)

In [12]:
print(list_1[1])

chan

### 4. Change the 2nd element to the name of your friend and print the list again

In [13]:
list_1[1] = 'Chanu'

In [15]:
print(list_1)

['john', 'Chanu', 'yuen', 'matt']

### 5. Now, try to create  a list of list named list2 with each element as \[name, age\] of the family members.

In [22]:
list_2 = [[name, age] for age, name in enumerate(list_1)]
print(list_2)

[['john', 0], ['Chanu', 1], ['yuen', 2], ['matt', 3]]

### 6. Add item 7000 after 6000 in the following Python list

In [23]:
list_1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [25]:
list_1[2][2].append(7000)

In [26]:
list_1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

### 7. Given a python list, find value 20 in the list, and if it is present, repalce it with 200. Only update the first occurrence of a value.

In [27]:
list1 = [5, 10, 15, 20, 25, 50, 20]

In [33]:
ind = list1.index(20)
list1[ind]=200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

### 8. Create a tuple of 5 colours.

In [35]:
colors = ('green', 'blue', 'black', 'white', 'red')
colors

('green', 'blue', 'black', 'white', 'red')

### 9. Unpack the following tuple into 4 variables

In [36]:
aTuple=(10, 20, 30, 40)

In [43]:
 a, b, c ,d = aTuple
 a, b, c, d

(10, 20, 30, 40)